# binaries from go build / go test -cpuprofile in this directory
/compare
/mmcompare
/nodesearch
/vsetcompare
/memgc
*.test
*.prof
results/compare
results/memgc
results/nodesearch
results/mmcompare
results/vsetcompare
